* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navbar-logo {
    height: 50px;
}

.banner {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #0d295b;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.header {
    font-size: 64px;
    font-weight: 800;
}

.footer {
  padding: 10px;
  background-color: #0d295b;
  color: white;
}

@media (max-width: 768px) {
  .banner {
    gap: 0;
    justify-content: start;
    flex-direction: column;
    text-align: center;
  }
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar {
  overflow: hidden;
}

.hero {
  height: 720px;
  overflow: hidden;
}

.hero img {
  height: 720px;
  width: 100%;
  object-fit: cover;
}

.divider {
  height: 80px;
  background-color: #e6dcd5;
}

.cta {
  background-color: #0d295b;
  color: white;
  padding: 20px;
  text-align: center;
}

.berita {
  padding: 100px 200px;
  background-color: #0d295b;
}

@media (max-width: 768px) {
  .berita {
    padding: 50px;
  }
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}

/* here */

.btn-pelajari-lbh-lanjut {
  padding: 10px 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
}

.btn-muat-lainnya {
  padding: 10px 20px;
  border: 2px solid white;
  background-color: #0d295b;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 10px;
}

.nav-link {
  color: #0d295b;
  font-size: 15px;
  font-weight: 700;
}

.whatsapp-btn {
  position: fixed;
  bottom: 40px;
  right: 0px;
  background-color: #0d295b;
  color: #fff;
  border-radius: 100%;
  width: 55px;
  height: fit-content;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mobil-grid {

  height: 200px;
  width: 100%;
  object-fit: cover;

}

.daftar-mobil-grid {
  height: 400px;
  width: 100%;
  object-fit: cover;
}